@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('http://fonts.cdnfonts.com/css/helvetica-neue-9');

body {
  color: #181616;
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  font-size: 15px;
  font-family: "Montserrat",
  sans-serif !important;
  font-weight: 400;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  overflow: visible !important;
  }

  code {
    font-family: "Montserrat",
      sans-serif;
  }

  /* CSS Normalize */
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  nav,
  section,
  summary {
    display: block;
  }

  audio,
  canvas,
  video {
    display: inline-block;
  }

  audio:not([controls]) {
    display: none;
    height: 0;
  }

  [hidden] {
    display: none;
  }

  html {
    font-family: "Montserrat",
      sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
  }

  a {
    text-decoration: none !important;
  }


  h1 {
    font-size: 2em;
  }

  abbr[title] {
    border-bottom: 1px dotted;
  }

  b,
  strong {
    font-weight: 700;
  }

  dfn {
    font-style: italic;
  }

  mark {
    background: #ff0;
    color: #000;
  }

  code,
  kbd,
  pre,
  samp {
    font-family: "Montserrat",
      sans-serif;
    font-size: 1em;
  }

  pre {
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  q {
    quotes: \201c \201d \2018 \2019;
  }

  small {
    font-size: 80%;
  }

  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }

  sup {
    top: -0.5em;
  }

  sub {
    bottom: -0.25em;
  }

  img {
    border: 0;
  }

  svg:not(:root) {
    overflow: hidden;
  }

  fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
  }

  button,
  input,
  select,
  textarea {
    font-family: "Montserrat",
    sans-serif;
  font-size: 100%;
  margin: 0;
  }

  button,
  input {
    line-height: normal;
  }

  button,
  html input[type=button],
  /* 1 */
  input[type=reset],
  input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
  }

  button[disabled],
  input[disabled] {
    cursor: default;
  }

  input[type='checkbox'],
  input[type='radio'] {
    box-sizing: border-box;
    padding: 0;
  }

  input[type='search'] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
  }

  input[type='search']::-webkit-search-cancel-button,
  input[type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
  }

  textarea {
    overflow: auto;
    vertical-align: top;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  body,
  figure {
    margin: 0;
  }

  legend,
  button::-moz-focus-inner,
  input::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  /* Box-sizing border-box */
  * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .default-btn {
    border: none;
    position: relative;
    display: inline-block;
    text-align: center;
    overflow: hidden;
    z-index: 1;
    color: #ffffff;
    background-color: #ff612f;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    border-radius: 5px;
    font-weight: 500;
    font-size: 15px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 13px;
    padding-bottom: 13px;
    text-decoration: none;
    font-family: "Montserrat",
      sans-serif !important;
  }

  .default-btn span {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: #f9a33f;
    -webkit-transition: width 0.6s ease-in-out, height 0.5s ease-in-out;
    transition: width 0.6s ease-in-out, height 0.5s ease-in-out;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: -1;
    border-radius: 5px;
  }

  .default-btn:hover,
  .default-btn:focus {
    color: #ffffff;
    -webkit-box-shadow: 0px 5px 28.5px 1.5px rgba(19, 196, 161, 0.3) !important;
    box-shadow: 0px 5px 28.5px 1.5px rgba(19, 196, 161, 0.3) !important;
  }

  .default-btn:hover span,
  .default-btn:focus span {
    width: 225%;
    height: 562.5px;
  }

  .others-options {
    margin-left: auto;
  }

  .others-options .default-btn {
    color: #ffffff;
    background-color: #f9a33f;
}

.others-options .default-btn i {
  color: #ffffff;
}

.others-options .default-btn span {
  background-color: #ee4132;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f9a33f;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ee4132;
}
html {
  scroll-behavior: smooth;
}
